@using angularjs
@using FoodApp.Client
@using FoodApp.Common
@inherits System.Web.Mvc.WebViewPage

@{
    object dayOfWeek = Model;
    string categories = ajs.field((ngFoodController o) => o.ngCategories);
    string foods = ajs.field((ngFoodController o) => o.ngFoods);
    string food = "food";
    string foodId = food + "." + ajs.field((ngFoodItem o) => o.FoodId);
    string isByWeight = food + "." + ajs.field((ngFoodItem o) => o.IsByWeightItem);
    string price = food + "." + ajs.field((ngFoodItem o) => o.Price);

    string prefix = ajs.method((ngFoodController o) => o.getPrefix(0)) + "(" + price + ")";
    string sufix = ajs.method((ngFoodController o) => o.getSuffix(0)) + "(" + price + ")";

    string canRefund = ajs.field((ngMoneyController o) => o.ngEntry) + "." + ajs.field((ngMoneyClientEntry o) => o.canRefund);
    string name = food + "." + ajs.field((ngFoodItem o) => o.Name);
    string description = food + "." + ajs.field((ngFoodItem o) => o.Description);
}


<div style="display: block;">
    <div ng-show="@foods. length>0" class="featurebox" ng-repeat="category in @categories">
        <div style="margin-left: 1.5em;">
            <h3>{{category}}</h3>
        </div>
        <span ng-repeat="@food in @foods | foodFilter:{'category':category,'day':@dayOfWeek}">
            <div  class="foodItem" ng-class="{true:'orderedFoodItem'}[@ajs.method((ngFoodController o) => o.hasOrder(0, null)) (@dayOfWeek,@foodId)]">
                <div style="margin: 0.5em; padding: 1em; padding-left: 0em; padding-right: 0em;">
                    <table style="width: 100%;">
                        <tr>
                            <td class="leftIcon"></td>
                            <td style="padding-left: 0.5em;">
                                <p class="">{{@name}}</p>
                                <i style="display: block; float: left; font-size: 0.9em; max-width: 15em; word-wrap: break-word;" ng-show="@description">({{@description}})</i>


                                <div style="clear: both; padding-top: 0.5em;">
                                    <div style="color: #cb5750; float: left; font-size: 1.5em;">
                                        {{@price}}
                                    </div>

                                    <div style="float: right;" class="btn-group" role="group" ng-show="@isByWeight" style="float: right;">
                                        <button ng-disabled="@canRefund" ng-class="{1:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1)" class="btn btn-success foodBtn">100г</button>
                                        <button ng-disabled="@canRefund" ng-class="{1.5:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1.5)" class="btn btn-success foodBtn">150г</button>
                                        <button ng-disabled="@canRefund" ng-class="{2:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,2)" class="btn btn-success foodBtn">200г</button>
                                    </div>
                                    <div style="float: right;" class="btn-group" role="group" ng-hide="@isByWeight">
                                        <button ng-disabled="@canRefund" ng-class="{1:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1)" class="btn btn-success foodBtn">1</button>
                                        <button ng-disabled="@canRefund" ng-class="{2:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,2)" class="btn btn-success foodBtn">2</button>
                                        <button ng-disabled="@canRefund" ng-class="{3:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,3)" class="btn btn-success foodBtn">3</button>
                                    </div>
                                </div>

                                <div style="clear: both;"></div>
                            </td>
                        </tr>
                    </table>
                </div>

           
            </div> 
            <div ng-show="($index+1)%5 == 0" style="clear: both;">
            </div>
        </span>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</div>
