@using System.Data.Odbc
@using angularjs
@using FoodApp.Client
@inherits System.Web.Mvc.WebViewPage

@{
    object dayOfWeek = Model;
    string categories = ajs.field((ngFoodController o) => o.ngCategories);
    string foods = ajs.field((ngFoodController o) => o.ngFoods);
    string food = "food";
    string foodId = food + "." + ajs.field((ngFoodItem o) => o.FoodId);
    string isByWeight = food + "." + ajs.field((ngFoodItem o) => o.IsByWeightItem);
    string price = food + "." + ajs.field((ngFoodItem o) => o.Price);


    string prefix = ajs.method((ngFoodController o) => o.getPrefix(0)) + "(" + price + ")";
    string sufix = ajs.method((ngFoodController o) => o.getSuffix(0)) + "(" + price + ")";
}


<div style="display: block;">
    <div ng-show="@foods. length>0" class="featurebox" ng-repeat="category in @categories">
        <div style="margin-left: 1.5em;">
            <h3>{{category}}</h3>
        </div>
        <div ng-repeat="@food in @foods | foodFilter:{'category':category,'day':@dayOfWeek}" class="foodItem" ng-class="{true:'orderedFoodItem'}[@ajs.method((ngFoodController o) => o.hasOrder(0, null)) (@dayOfWeek,@foodId)]">
            <div style="margin: 0.5em; padding: 1em; padding-right: 0em; padding-left: 0em;">
                <table style="width: 100%; ">
                    <tr>
                        <td class="leftIcon"></td>
                        <td style="padding-left: 0.5em;">
                            <p class="">{{@food .@ajs.field((ngFoodItem o) => o.Name)}}</p>
                            <div>
                                <div style="color: #cb5750; float: left; font-size: 1.5em;">

                                    {{@price}}
                                </div>

                                <div style="float: right;" class="btn-group" role="group" ng-show="@isByWeight" style="float: right;">
                                     <button ng-class="{1:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1)" class="btn btn-success foodBtn">100г</button>
                                    <button ng-class="{1.5:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1.5)" class="btn btn-success foodBtn">150г</button>
                                     <button ng-class="{2:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,2)" class="btn btn-success foodBtn">200г</button>
                               </div>
                                <div style="float: right;" class="btn-group" role="group" ng-hide="@isByWeight">
                                    <button ng-class="{1:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1)" class="btn btn-success foodBtn">1</button>
                                    <button ng-class="{2:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,2)" class="btn btn-success foodBtn">2</button>
                                    <button ng-class="{3:'foodButtonIsOrdered'}[@ajs.method((ngFoodController o) => o.getOrderCount(0, null)) (@dayOfWeek,@foodId)]" ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,3)" class="btn btn-success foodBtn">3</button>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</div>



<style type="text/css">
    .leftIcon {
        background-color: #cb5750; opacity: 0.3; width: 0.5em;
    }
     .orderedFoodItem .leftIcon{
         background-color: #cb5750;
         opacity: 1;
     }
     .foodButtonIsOrdered {
         background-color: #cb5750!important;
         cursor: none;
     }
</style>


<div ng-show="@foods. length>0" style="display: none;"> 
    <table style="width: 100%; ">
        <tr>
            <td class="featurebox" ng-repeat="category in @categories">
                            <h3>{{category}}</h3>
            </td>
        </tr>
        <tr  >
            <td ng-repeat="category in @categories" valign="top" style="width: 16%; ">
                <div ng-class="{true:'orderedFoodItem'}[@ajs.method((ngFoodController o) => o.hasOrder(0, null)) (@dayOfWeek,@foodId)]" style="padding: 1em;" ng-repeat="@food in @foods | foodFilter:{'category':category,'day':@dayOfWeek}">
                       <table  style="width: 100%;">
                    <tr>
                        <td class="leftIcon"></td>
                        <td style="padding-left: 0.5em;" >
                            <p class="">{{@food .@ajs.field((ngFoodItem o) => o.Name)}}</p>
                                <div>
                                <div style="color: #cb5750; float: left; font-size: 1.5em;">

                                    {{@price}}
                                </div>

                                <div ng-show="@isByWeight"> 
                                    <button ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,2)" class="btn btn-success foodBtn" style="cursor: pointer; float: right;">+2</button>
                                    <button ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1.5)" class="btn btn-success foodBtn" style="cursor: pointer; float: right;">+1,5</button>
                                    <button ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1)" class="btn btn-success foodBtn" style="cursor: pointer; float: right;">+1</button>
                                </div>
                                <div  ng-hide="@isByWeight">
                                    <button ng-click="@ajs.method((ngFoodController o) => o.buyClick(0, null, 0)) (@dayOfWeek,@foodId,1)" class="btn btn-success foodBtn" style="cursor: pointer; float: right;">+1</button>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                        </td>
                    </tr>
                </table>
                </div>
              
            </td>
        </tr>
       
    </table>
    <div style="clear: both;"></div>
</div>