@using angularjs
@using FoodApp.Client
@using FoodApp.Common
@inherits System.Web.Mvc.WebViewPage

@{
    string orders = ajs.field((ngHistoryController o) => o.ngHistoryItems);
    string historyGroup = "historyGroup";
    string historyItem = "historyItem";
    string foodId = historyItem + "." + ajs.field((ngHistoryEntry o) => o.FoodId);

    string users = ajs.field((ngHistoryController o) => o.ngUsers);
    string user = "user";
    string userName = user + "." + ajs.field((ngUserModel o) => o.Name);
    string userId = user + "." + ajs.field((ngUserModel o) => o.Id);
    bool isSuperAdmin = ApiUtils.GetLoggedInUser().IsSuperAdmin;
}


<div>
    <div ng-controller="@ajs.getClass((ngHistoryController o) => o)">

        @if (isSuperAdmin) {
            <select ng-model="@userId" ng-change="@ajs.method((ngMoneyController o) => o.checkMoneyClick(null)) (@userId)">
                <option ng-repeat="@user in @users" value="{{@userId}}">{{@userName}}</option>
            </select>
        }

        <div>
            <canvas id="lineChart" width="400" height="200"></canvas>
        </div>

        <div>
            <canvas id="barChart" width="400" height="200"></canvas>
        </div>

         @if (isSuperAdmin) {
             <div>
                 <canvas id="line2Chart" width="400" height="200"></canvas>
             </div>
         }




        <div ng-repeat="@historyGroup in @orders">
            <table class="table" style="border: 0px;">
                <tr >
                    <td class="leftIcon" style="border: 0px;"></td>
                    <td style="border: 0px;">
                        <div style="float: left;"> <h4>{{@historyGroup .@ajs.field((ngHistoryGroupEntry o) => o.DateStr)}}</h4>
                        </div>

                        <div style="clear: both; padding-left: 1em;">
                            <ul style="clear: both;" ng-repeat="@historyItem in @historyGroup. @ajs.field((ngHistoryGroupEntry o) => o.Entries)">
                                <li>
                                    {{@ajs.method((ngHistoryController o) => o.getFoodItem(null)) (@foodId).@ajs.field((ngFoodItem o) => o.Name)}}
                                    <b>{{@historyItem .@ajs.field((ngHistoryEntry o) => o.Count)}}</b>
                                </li>
                            </ul>
                        </div></td>

                </tr>
            </table>
            <hr/>
        </div>
    </div>
</div>