@using System.Web.Mvc.Html
@using angularjs
@using FoodApp.Client
@using FoodApp.Common
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Layout1.cshtml";
    string imgUrl = ApiUtils.GetLoggedInUser().Picture;
    string googleName = ApiUtils.GetLoggedInUser().GoogleName;
    string name = ApiUtils.GetLoggedInUser().Name;
    bool isAdmin = ApiUtils.GetLoggedInUser().IsAdmin;
}


<style type="text/css">
    .foodItem {
        display: block !important;
        width: 100% !important;
        float: none;
    }
</style>

<input type="hidden" value="@ApiUtils.GetSessionUserId()" id="userId"/>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" style="font-size: 100%;">

<div>
    <div class="navbar menubar" id="menu" style="position: fixed; top: 0px; width: 100%; z-index: 4;">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <div style="">
                    <a class="navbar-brand" style="color: white; font-size: 2.2em; line-height: 1.4em;" href="#">Гам-Гам</a><br/>
                    @if (!string.IsNullOrEmpty(name)) {
                        <div style="color: white; white-space: pre-line; word-wrap: break-word; margin-top: 0.9em;">@name</div>
                    }
                </div>

            </div>
            <div >
                <nav class="collapse navbar-collapse" class="nav nav-tabs" role="tablist">
                    @if (!string.IsNullOrEmpty(imgUrl)) {
                        <div style="background-image: url('@imgUrl'); background-size: cover; float: left; height: 4em; width: 4em;"></div>
                    }

                    <ul style="font-size: 0px;" id="tab" class="nav navbar-nav navbar-right navstyle carousel-indicators grey">
                        <li style="visibility: hidden;" day="{{day.idx}}" data-target="#myCarousel" data-slide-to="{{day.idx}}" ng-repeat="day in [{'idx':0,'name':'Понеділок'}, {'idx':1,'name':'Вівторок'}, {'idx':2,'name':'Середа'}, {'idx':3,'name':'Четвер'}, {'idx':4,'name':'Пятниця'}]"></li>
                        <li style="visibility: hidden;" day="6" data-target="#myCarousel" data-slide-to="6"></li>
                        <li style="visibility: hidden;" day="7" data-target="#myCarousel" data-slide-to="7"></li>
                        <li style="visibility: hidden;" day="8" data-target="#myCarousel" data-slide-to="8" ></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<div ng-controller="@ajs.getClass((ngAppController o) => o)" >
    <div ng-controller="@ajs.getClass((ngOrderController o) => o)">
            <div ng-controller="@ajs.getClass((ngMoneyController o) => o)">
                <div ng-controller="@ajs.getClass((ngFoodController o) => o)" class="tab-content">
                       <div id="error" style="position: absolute; display: none; left: 25%; top: 1%; z-index: 10; width: 50%;" class="alert alert-danger fade in">
                            <a href="#" class="close" onclick="this.parent.style.display = 'none'">&times;</a>
                            <strong>Cталась помилка!</strong>.
                        </div>

                    <div class="carousel-inner" >
                        <div  class="item" day="{{day.idx}}" ng-repeat="day in [{'idx':0,'name':'Понеділок'}, {'idx':1,'name':'Вівторок'}, {'idx':2,'name':'Середа'}, {'idx':3,'name':'Четвер'}, {'idx':4,'name':'Пятниця'}]">
                            
                            <div style="background-color: white; position: fixed; top: 5em; width: 100%; z-index: 4;">
                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                                <div class="col-md-6 col-sm-6 col-xs-12 centertext" style="padding-left: 0px; width: 30%;">
                                                    <p class="all-td">&nbsp;</p>
                                                    <h2>{{day.name}}</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                                <p class="desc">
                                                    <div style="float: left; width: 75%;"> @{ Html.RenderPartial("Orders", "day.idx"); }&nbsp;</div>
                                                    <div style="float: left; width: 25%;"> @{ Html.RenderPartial("Money"); }&nbsp;</div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="container">

                                <div class="features" style="margin-top: 8em;">
                                    <div class="container">
                                        <div class="row">
                                            @{ Html.RenderPartial("Foods", "day.idx"); }
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>



                         <div  class="item" day="6" >
                            
                            <div style="background-color: white; position: fixed; top: 5em; width: 100%; z-index: 4;">
                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                                <div class="col-md-6 col-sm-6 col-xs-12 centertext" style="padding-left: 0px; width: 30%;">
                                                    <p class="all-td">&nbsp;</p>
                                                    <h2>Історія</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="container">

                                <div class="features" style="margin-top: 8em;">
                                    <div class="container">
                                        <div class="row">
                                            @{ Html.RenderPartial("History"); }
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>



                        <div  class="item" day="7" >
                            
                            <div style="background-color: white; position: fixed; top: 5em; width: 100%; z-index: 4;">
                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                                <div class="col-md-6 col-sm-6 col-xs-12 centertext" style="padding-left: 0px; width: 30%;">
                                                    <p class="all-td">&nbsp;</p>
                                                    <h2>Замовлення</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="container">

                                <div class="features" style="margin-top: 8em;">
                                    <div class="container">
                                        <div class="row">
                                            @{ Html.RenderPartial("ReviewUserControl"); }
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>


                        
                        <div day="7" class="item">
                            <div style="background-color: white; position: fixed; top: 5em; width: 100%; z-index: 4;">
                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                                <div class="col-md-6 col-sm-6 col-xs-12 centertext" style="padding-left: 0px; width: 30%;">
                                                    <p class="all-td">&nbsp;</p>
                                                    <h2>Контакти</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row bottomBorder">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="alldesc">
                                                <p class="desc">
                                                    <p>Email : mgerasika@gmail.com</p>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        
                    </div>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute; left: -999px; top: -999px;">
    <a id="leftLnk" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a id="rightLnk" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

<script type="text/javascript">
    window.addEventListener("load", function () {
        var date = new Date();
        var day = date.getDay() - 1;
        if (day > 4) {
            day = 0;
        }
        onTabChanged(day);
        var id = '#tab a[href="#header' + day + '"]';
        $(id).tab('show');
        var active = $(id);
        active.addClass('active');

        $('#tab a').click(function (e) {
            if (active != $(this) && $(this).attr("day") != undefined) {
                active.removeClass('active');
                e.preventDefault();
                $(this).tab('show');
                if ($(this).attr("day") != undefined) {
                    onTabChanged($(this).attr("day"));
                }
            }
        });


        $("#myCarousel").swipe({
            //Generic swipe handler for all directions
            swipeLeft: function (event, direction, distance, duration, fingerCount) {
                $("#rightLnk").click();
            },
            swipeRight: function () {
                $("#leftLnk").click();
            },
            //Default is 75px, set to 0 for demo so any distance triggers swipe
            threshold: 75
        });

        $('#myCarousel').each(function () {
            $(this).carousel({
                interval: false
            });

            var date = new Date();
            var day = date.getDay() - 1;
            if (day > 4) {
                day = 0;
            }
            var headerId = '#myCarousel li[data-slide-to="' + day + '"]';
            var headerEl = $(headerId);
            headerEl.addClass('active');

            var itemId = '#myCarousel div[day="' + day + '"]';
            var itemEl = $(itemId);
            itemEl.addClass('active');
        });
    });




</script>